.projects-container .title {
  height: 120px;

  grid-area: title;

  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.projects-container .title > h2 {
  color: white;
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  .projects-container .title {
    align-items: center;
  }
}
