.carousel-container .slide {
  background: rgba(0, 0, 0, 0.644);
  color: white;

  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.carousel-container .slide > h2 {
  padding: 10px 0;
  color: black;
  text-align: center;
  background: aqua;

  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.carousel-container .slide .description {
  min-height: 130px;
  padding: 10px 35px;
  text-align: center;

  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-container .slide .buttons {
  padding: 15px 0;

  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-container .slide .buttons > a > button {
  background: darkcyan;
  color: white;
  padding: 10px 30px;
  margin: 0 5px;
  font-size: 16px;
  cursor: pointer;

  border-width: 0;
  border-radius: 50px;
  border: 1px solid rgb(0, 58, 31);
}

.carousel-container .slide .buttons > a > .github-btn {
  margin: 0 5px;
  font-size: 50px;
  text-decoration: none;
  color: white;
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .carousel-container .slide > h2 {
    padding: 5px 0;
    font-size: 18px;
  }

  .carousel-container .slide .buttons > a > button {
    padding: 10px 20px;
  }
}
